.snakemake
db_base/bin
db_base/DATA/crust2.0
db_base/DATA/s362ani
db_base/DATA/topo_bathy
db_base/DATABASES_MPI
db_base/OUTPUT_FILES
db_base/mesher.flag
GFDB
forward
forward_cmt
simulations
validation_output